---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import SocialPill from "../components/SocialPill.astro";
import GitHubIcon from "../icons/GitHub.astro";
import LinkedInIcon from "../icons/LinkedIn.astro";
import ClockPlayIcon from "../icons/ClockPlay.astro";
import CodeIcon from "../icons/Code.astro";
import UserIcon from "../icons/User.astro";
import Experience from "../components/Experience.astro";
import Projects from "../components/Projects.astro";
import AboutMe from "../components/AboutMe.astro";
---

<Layout
  title="Portafolio Rubén Cruz - Desarrollador Web"
  description="Desarrollador para realizar tu página web visualmente atractiva"
>
  <main class="sm:max-w-[720px] space-y-60 px-4">
    <section id="home" class="pt-60">
      <h1
        class="text-4xl sm:text-5xl font-semibold flex flex-col sm:flex-row gap-2 pb-6 sm:pb-2"
      >
        Soy Rubén Cruz
        <a
          href="https://www.linkedin.com/in/ruben-alexis-cruz"
          target="_blank"
          rel="noopener"
          class="flex items-center"
        >
          <Badge>Disponible para trabajar</Badge>
        </a>
      </h1>

      <h2 class="text-lg flex flex-col">
        <span
          class="sm:text-2xl text-transparent bg-clip-text bg-gradient-to-r from-cyan-300 to-cyan-500 font-semibold"
          >Desarrollador Web y Diseñador Gráfico.</span
        >
        <span class="opacity-80 text-pretty"
          >+6 meses de experiencia. Apto para crear aplicaciones web visualmente
          atractivas.</span
        >
      </h2>

      <nav class="mt-4 flex gap-4">
        <SocialPill href="https://github.com/racross-dev">
          <GitHubIcon />
          GitHub
        </SocialPill>
        <SocialPill href="https://www.linkedin.com/in/ruben-alexis-cruz">
          <LinkedInIcon />
          LinkedIn
        </SocialPill>
      </nav>
    </section>

    <section id="experience">
      <h2 class="text-2xl sm:text-3xl font-semibold mb-4 flex items-center gap-x-3">
        <ClockPlayIcon class="size-7" />
        Experiencia Laboral
      </h2>
      <Experience />
    </section>

    <section id="projects">
      <h2 class="text-2xl sm:text-3xl font-semibold mb-4 flex items-center gap-x-3">
        <CodeIcon class="size-8" />
        Proyectos
      </h2>
      <Projects />
    </section>

    <section id="about" class="pb-60">
      <h2 class="text-2xl sm:text-3xl font-semibold mb-4 flex items-center gap-x-3 text-nowrap">
        <UserIcon class="size-8" />
        Sobre mí
      </h2>
      <AboutMe />
    </section>
  </main>
</Layout>
