---
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCIE = [
  {
    date: "Julio 2023 - Enero 2024",
    title: "Practicante de Sistemas - DEACERO",
    description:
      "Estuve desarrollando de manera Full Stack, centré mi experiencia principalmente en el frontend, haciendo uso de tecnologías como React y Tailwind CSS. Me especialicé en la creación de componentes reutilizables, mejora de la UI/UX y consumo de APIs del backend. Por la parte del backend trabajé con consultas LINQ, servicios web RESTful, entre otras cosas usando C# y ASP.NET. En base de datos SQL Server, mi enfoque se centró en la navegación. Participando en Scrum y el uso de Jira facilitaron la gestión ágil del desarrollo.",
  },
];
---

<ol class="relative sm:left-3 pr-2 border-s border-gray-200 dark:border-gray-500">
  {
    EXPERIENCIE.map((exp) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...exp} />
      </li>
    ))
  }
</ol>
