<div
  class=`flex items-center justify-center gap-x-1 
  bg-stone-800 shadow opacity-50 
  hover:opacity-100 hover:scale-110 hover:z-10 hover:rounded-lg
  duration-300 transition-all ease-in-out
  ${Astro.props.class}`
>
  <slot />
</div>
